[project]
name = "{{package_name}}"
version = "0.0.0"
description = "…"
readme = "README.md"
authors = [{name = "{{user_name}}", email = "{{user_email}}"}]
requires-python = ">={{python_version}}"
dependencies = []
license = {text = "MIT"}

[project.urls]
repository = "https://github.com/{{github_user}}/{{package_name}}"
"Bug Tracker" = "https://github.com/{{github_user}}/{{package_name}}/issues"

[project.scripts]
{{module_name}} = "{{module_name}}:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = ["pytest>=8.3.5"]

[tool.pyright]
include = ["src", "tests"]
ignore = ["**/.venv"]
defineConstant = {DEBUG = true}
reportMissingImports = "error"
deprecateTypingAliases = true
reportDeprecated = "information"
pythonPlatform = "Linux"

[tool.ruff]
line-length = 100
target-version = "py311"
indent-width = 2

[tool.ruff.lint]
select = ["E", "F", "I", "W"]
ignore = []

[tool.ruff.lint.isort]
known-first-party = ["{{module_name}}"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"
