"""Basic tests for {{project_name}}."""

import {{module_name}}


def test_import():
    """Test that the module can be imported."""
    assert {{module_name}} is not None


def test_version():
    """Test that version is defined."""
    assert hasattr({{module_name}}, "__version__")